$lt-gray: #e2ded3;
$background-dark: #4e413b;
$background-light: #ff6d24;
$background-pale: #857671;

body{
    background: $background-light;
}

.navbar-dark{
    background:$background-dark;
}

.card{
    margin-top: 20px;
    .card-header{
        background: $background-dark;
        color: floralwhite;
        
    }
    .card-body{
        background: $background-dark;
        p{
            color: floralwhite;
        }

    }

}

.media{
    margin: 10px 0;
    background: $background-pale;
    .media-body{        
        color: floralwhite;
        margin:30px 0;
    }
    img{
        margin: 5px;
    };
}

footer{
    background: $background-dark;
    color: $background-light;

}

.modal{  
    .modal-header{
        background:$background-dark;
        color: floralwhite;
        .close{
            color:floralwhite;
        }

    }
    .modal-body{
        background:$background-pale;
        color: floralwhite;

    }
}

.myform{
    .card{
        background: $background-dark;
        color: floralwhite;
    }
}
