body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    background-size: 600% 100%;
    animation: Gradient 15s infinite linear;
}

@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#countdown div {
    text-align: center;
}

#countdown span {
    display: block;
    font-size: 2em;
    margin-bottom: 5px;
}
